@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    background-color: #C36868;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
section{
    display: flex;
    width:100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.main-container{
    background-color: #B3BCBB;
    border-radius:20px ;
    border-style:solid;
    border-width: 5px;
    border-color: #000000;
    width: 620px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 40px;
}

.time-display-container{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    border-style:solid;
    border-width: 3px;
    border-color: #000000;
    text-align: center;
    gap: 30px;
    width: 400px;
    height: 310px;
}
.session{
    font-size: 40px;
    font-weight: 400;
}

.time-display{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 83px;
    font-style: normal;
}
.button{
    background-color: #FFFFFF;
    height: 50px;
    border-style: solid;
    border-color: #000000;
    border-radius: 12px;
    border-width: 1px;
    font-size: 25px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    transition: 0.5s;
}
.button:hover{
    color: #5c5959;
    border-color:#C36868;
    cursor: pointer;
}
.config-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.button-time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #323232;
    border-style: solid;
    border-color: #000000;
    border-radius: 12px;
    border-width: 2px;
    width: 150px;
    height: 100px;
    gap:7px;
}

.config-focus-time-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99BCC0;
    height: 65px;
    width: 130px;
    font-size: 31px;
    gap: 15px;
}
.decrease-timer, .increase-timer{
    color:#FFFFFF ;
    transition: font-size 0.3s;
}
.decrease-timer:hover,.increase-timer:hover {
    font-size: 35px;
    color: antiquewhite;
    cursor:pointer;
}
.total-timer{
    color: #000000;
}

.time-section{
    color: #FFFFFF;
}